// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color: #6A1B4D;
.main{
	background-color:$primary-color;
	text-align: center;
}
.text{
	color: white;
}